<meta name="viewport" content="width=device-width">

<body id="inner-body" class="inner-body">
<div id="content" class="welcome-content">
  <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
  <% end %>

  <div class="container-fluid">
    <div id="slogen" class="slogen">
      <p>
        <span>
            <%= t ".gamify_edu" %>
        </span>
      </p>
      <p>
        <span>
          <span>
            <%= t ".full_of_fun" %>
          </span>
        </span>
      </p>
    </div>

    <div class="gray-background">

    </div>

    <div id="center-image">
        <%= image_tag "teaching-wordle_316.png" %>
    </div>

    <div id="sign-up">
    </div>

    <div id="first-divider"></div>
    <div id="second-divider"></div>
    <div id="engaging-title">
      <p><span><strong><span><%= t '.engaging' %><br></span></strong></span></p>
    </div>
    <div id="first-tick">
      <%= image_tag "tick.png", height: 31, width: 31, alt: "" %>
    </div>
    <div id="second-tick">
      <%= image_tag "tick.png", height: 31, width: 31, alt:"" %>
    </div>
    <div id="second-title">
      <p><span><strong><span><%= t '.general' %><br></span></strong></span></p>
    </div>

    <div id="third-title">
      <p><span><strong><span><%= t '.simple' %></span></strong></span></p>
    </div>

    <div id="third-tick">
      <%= image_tag "tick.png", height: 31, width: 31, alt: "" %>
    </div>

    <div id="bottom-line"></div>

    <div id="first-text-box" class="first-text-box">
      <p><span class="description-text"><%= t ".description1_1" %></span></p>
      <p><span> </span></p>
      <p><span class="description-text"><%= t ".description1_2" %> </span></p>
      <p><br><span><br></span></p>
    </div>

    <div id="second-text-box" class="second-text-box">
      <p><span class="description-text"><%= t ".description2_1" %></span></p>
      <p> </p>
      <p><span class="description-text"><%= t ".description2_2" %></span></p>
    </div>

    <div id="third-text-box" class="third-text-box">
      <p><span class="description-text" ><%= t ".description3_1" %></span></p>
      <p><span class="description-text" ></span></p>
      <p><span class="description-text" ><%= t ".description3_2" %></span></p>
      <p><span class="description-text" > </span></p>
    </div>

    <div id="logo">
      <%= image_tag "coursemology_logo_landscape_100.png" %>
    </div>
  </div>
</div>
</body>


