<% formActionPath = Routes.course_assessment_submission_answer_programming_file_line_post_path(
     courseId, assessmentId, submissionId, answerId, programmingFileId, lineNumber, postId) %>
<div class="annotation-post-form" data-action="<%= formActionPath %>" data-method="patch">
  <%= postCommenter %>
  <div class="form-group text">
    <textarea name="discussion_post[text]"
              class="form-control text airmode"
              aria-label="<%= I18n.t('javascript.course.assessment.submission.answer.programming.annotation_post_form.text.label') %>">
      <%= postContent %>
    </textarea>
  </div>

  <input type="reset" class="btn btn-default"
         value="<%= I18n.t('javascript.course.assessment.submission.answer.programming.annotation_post_form.reset') %>" />
  <input type="submit" class="btn btn-primary"
         value="<%= I18n.t('javascript.course.assessment.submission.answer.programming.annotation_post_form.submit') %>" />
</div>
