<% formActionPath = Routes.course_assessment_submission_answer_programming_file_annotations_path(
    courseId, assessmentId, submissionId, answerId, programmingFileId) %>
<div class="annotation-form" data-action="<%= formActionPath %>" data-method="post">
  <input type="hidden" name="annotation[line]" value="<%= lineNumber %>" />
  <div class="form-group text">
    <input type="hidden" name="discussion_post[id]" />
    <input type="hidden" name="discussion_post[parent_id]" value="<%= parentId %>" />
    <textarea name="discussion_post[text]"
              class="form-control text airmode"
              placeholder="<%= I18n.t('javascript.course.assessment.submission.answer.programming.annotation_form.text.placeholder') %>"
              aria-label="<%= I18n.t('javascript.course.assessment.submission.answer.programming.annotation_form.text.label') %>"></textarea>
  </div>

  <input type="reset" class="btn btn-default"
         value="<%= I18n.t('javascript.course.assessment.submission.answer.programming.annotation_form.reset') %>" />
  <input type="submit" class="btn btn-primary"
         value="<%= I18n.t('javascript.course.assessment.submission.answer.programming.annotation_form.submit') %>" />
</div>
