<footer>
  <hr/>
  <hr/>
  <div class="navbar-bottom">
    <p class="navbar-text">&copy; <%= t ".copyright" %></p>

    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to t(".term_of_service"), '#' %></li>
        <li><%= link_to t(".about"), '#' %></li>
        <li><%= link_to t(".policy"), '#' %></li>
        <li><%= link_to t(".contact"), '#' %></li>
        <li><a href="https://github.com/Coursemology/coursemology.org.git"><%= t ".source_code" %></a></li>
      </ul>
    </nav>

  </div>

</footer>

