<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to "/", id: "site-logo" do %>
          <%= image_tag "coursemology_white.png" %>
      <% end %>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".courses"), '#' %></li>
        <li><%= link_to t(".help"), '#' %></li>
        <li><%= link_to t(".sign_up"), '#' %></li>
        <li><%= link_to t(".sign_in"), '#' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= t ".language" %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="?locale=en">English</a></li>
            <li><a href="?locale=zh-CN">简体中文</a></li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>
</header>
